body{
	--white:#fff;
	--gray-50:#e2dfde;
	--gray-60:#f1f1f1;
	--dark:#2e333f;
	--blue:#5dbdfe;
	--secondary: #333333;
	--red:#f34235;
	--darken:#2c2c2c;
	--facebook:#3b579d;
	--twitter:#5ea9dd;
	--google-plus:#df4a32;


}
